{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}


<header class="masthead"style="background-image: url('/static/photos/landing-bg.png')">
  <img class="main-pizza" src="static/photos/main_pizza.png" alt="main-pizza">
  <img class="scroll-pizza1" src="static/photos/scroll_pizza_1.png" alt="scroll-pizza1">
  <img class="scroll-pizza2" src="static/photos/scroll_pizza_2.png" alt="scroll-pizza2">
  <div class="container">
      <div class="masthead-subheading">The best <span >PIZZA</span> around</div>
      <div class="masthead-heading text-uppercase">Enjoy our Pizzas</div>
      <a class="btn btn-primary btn-xl text-uppercase" href="#services">Order Now</a>
  </div>
</header>
<div>

  <div class="tab-content" id="menu">
    <div id="all_Pizza" class="tab-pane fade in active">
        <h3>All Pizza</h3>
        <p>{{ macro.displayPizzas(pizza_list)}}</p>
      </div>
  <div id="tech" class="tab-pane fade">
    <h3>Technology</h3>
    <p>{{ macro.displayPizzas(large_pizza)}}</p>
  </div>
  <div id="farm" class="tab-pane fade">
    <h3>Farming</h3>
    <p>{{ macro.displayPizzas(medium_pizza) }}</p>
  </div>
  <div id="interview" class="tab-pane fade">
    <h3>Interview</h3>
    <p>{{ macro.displayPizzas(small_pizza) }}</p>
  </div>
  
</div>
</div>
{% endblock %}

