{% macro displayPizzas(pizzas) %}
{% for pizza in pizzas %}
<div class="card" style="width:300px; margin: 10px;">
  <img class="card-img-top" src="{{url_for('static',filename=pizza.pizza_picture_path)}}" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">{{pizza.pizza_name}}</h4>
    <p class="card-text">{{pizza.pizza_price}}</p>
   <a href="#" class="btn btn-warning"  data-toggle="modal" data-target="#modalCart">{{pizza.pizza_price}}</a>
  </div>
</div>

{%endfor%}
{% endmacro %}