
{% import 'macros.html' as macro %}
<!-- Navigation-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg bg-dark text-light" style="color: white !important;">
  <div class="container">
      <a class="navbar-brand logo" href="#page-top">Crustacean Pizza</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase bg-dark ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{{url_for('main.menus')}}">MENU</a></li>
              <li class="nav-item"><a class="nav-link" href="#About">About</a></li>
              <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
          </ul>
      </div>
  </div>
</nav>

<section class="highlights">
  <div class="container-fluid">
    <h2 class="text-center">All Pizza</h2>
    <div class="row" style="padding-left: 10px;">

      {{ macro.displayPizzas(pizzas) }}

    </div>
  </div>