{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block newPizza %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<form method="POST">
  {{form.hidden_tag()}}
  <div class="user-box">
    {{form.pizza_name}}
    <label>Name</label>
  </div>
  <div class="user-box">
    {{form.pizza_size}}
    <label>Size</label>
  </div>
  <div class="rem">
    {{form.pizza_price}}
  </div class="btn">    
  <div class="rem">
    {{form.pizza_picture_path}}
  </div class="btn">   
    {{form.submit}}
  
</form>
{% endblock %}